@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
:root {
  --main-font: "IBM Plex Mono", monospace !important;
  --test-font: "Special Elite", cursive;
  --background-black: #141414;
  --text-color: #e5e5e5;
}

/* Create Room Btn */

#createNewRoom {
  display: block;
  display: block;
  background-color: var(--background-black) !important;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 5px;
  width: 110px !important;
  line-height: 2.6;
  cursor: pointer;
  width: 150px !important;
  right: 10px;
  position: absolute;
  font-size: 12px;
  transition: 0.2s;
}
#createNewRoom:hover {
  background-color: white !important;
  transform: scale(1.1);
  color: black;
  border: black 3px solid;
}

.join-btn button {
  background-color: #e7e7e7;
  border: 1px solid var(--background-black);
  color: var(--background-black);
  transition: 0.2s;
}
.join-btn button:hover {
  background-color: var(--background-black);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  transform: scale(1.2);
}

/* Solo Btn */
#solobtn {
  display: block;
  background-color: var(--background-black) !important;
  color: var(--text-color);
  border: 3px solid var(--text-color);
  border-radius: 5px;
  width: 110px !important;
  line-height: 2.6;
  cursor: pointer;
  transition: 0.2s;
}
#solobtn:hover {
  background-color: white !important;
  transform: scale(1.1);
  color: black;
  border: black 3px solid;
}

#clearBtn {
  position: absolute;
  bottom: 50px;
  border: 1px solid cyan;
}

/* Main List Container */

#list-container {
  position: relative;
  width: 55vw;

  margin: 10px auto 0;
  padding: 10px;
  box-sizing: border-box;
}

#list-container li {
  display: flex;
  background: var(--text-color);
  padding: 10px 20px;

  color: black;
  font-size: 32px;
  text-align: center;
  justify-content: center;

  transition: 0.5s;
  align-items: center;
  cursor: pointer;
}

/* User Input Form */

#input-form {
  position: relative;
  width: fit-content;

  margin: 10px auto 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 15px rgb(236 224 224);
}

#input-list1 {
  width: 49vw;
  color: #2f2f2f;
}

#input-list1 li {
  text-align: center;
  background-color: var(--text-color);
  cursor: pointer;
}

#input-list1 hr {
  display: none;
}

/* Continue Button */

#button-container {
  padding-top: 30px;
  padding-bottom: 50px;
  width: 100vw;
  justify-content: center;
  display: flex;
}
.second-button-container {
  width: 100vw;
  position: relative;
  padding-top: 50px;

  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.second-button-container button {
  z-index: 100;
}
#button-container button {
  z-index: 100;
}
#continueBtn {
  background-color: #141414;
  border: 3px solid white !important;
  color: white;
  height: 40px;
  position: relative;

  width: 20vw;
  /* bottom: -95px; */
  border-radius: 3px;

  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
}

#continueBtn:hover {
  transform: scale(1.1);
  color: black !important;
  background-color: white;
  border: 1px solid black;
}
/* Game2 */
#game2 {
  position: relative;
  z-index: 2;
  background-color: #141414;
}

#inputForm {
}

#list_container {
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: space-around;
  width: 70vw;

  height: fit-content;
  top: 20px;
  margin: auto;
}

#received_word_list {
  position: relative;
  width: 35vw;

  margin: 10px auto 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 15px rgb(236 224 224);
}

#received_word_list li {
  display: flex;
  background-color: var(--text-color);
  padding: 10px 20px;
  /*   color: #fff; */
  color: var(--background-black);
  font-size: 32px;
  text-align: center;
  justify-content: center;
  transition: 0.5s;
  cursor: pointer;
}

#received_word_list li {
  letter-spacing: 2px;
  line-height: 21px;
  font-size: 22px !important;
}

#input-list {
  position: relative;
  width: 35vw;

  margin: 10px auto 0;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(0, 0, 0);
  box-shadow: inset 0 0 15px rgb(236 224 224);
}

#input-list li {
  display: flex;
  background-color: var(--text-color);
  padding: 10px 20px;
  color: #fff;
  font-size: 32px;

  transition: 0.5s;
  cursor: pointer;
}

.passed-words {
}

.selected-text {
  font-size: 16px;
  width: 90%;

  margin: auto;
  background-color: #399e3c9a;
  border-radius: 5px;
}

/* Instructions */

#instruction-game-2 {
  background-color: var(--text-color);
  color: var(--background-black);
  position: relative;
  text-align: center;
  margin: auto;
  border: 2px solid var(--text-color);
  width: 100vw;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: fit-content;
  position: sticky;
  top: 0;

  box-shadow: inset 0 0 15px var(--background-black);
}

@media only screen and (max-width: 890px) {
  #createNewRoom {
    position: absolute;
    top: 10px;
  }
}
