@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
/* Index Page */

:root {
  --main-font: "IBM Plex Mono", monospace !important;
  --test-font: "Special Elite", cursive;
  --background-black: #141414;
  --text-color: #e5e5e5;
}

.App {
  background-color: white;
}

* {
  --secondary-font: 24px;

  font-family: "IBM Plex Mono", monospace !important;
}

/* Index Left Half */

#blurbBox {
  width: 60vw;
  background-color: black;
  height: 100vh;
  text-align: center;
}

#blurbContainer {
  height: 100vh;
  z-index: 100;
  background-color: black;
  position: relative;
  justify-content: center;
  display: flex;
  font-family: var(--test-font);
  align-items: center;
}

.overlay {
  background-color: rgba(128, 128, 128, 0.616);
  position: fixed;
  width: 58.3vw;
  height: 100vh;
}

/* Logo Container on Index */
#logoContainer {
  position: absolute;
  left: 0;
  width: 200px;
}

/* Sign In Container */
/* .overlay {
  position: fixed !important;
  right: 0px;
  width: 400px;
  background-color: black;
  z-index: 100;
} */

#right-half {
  position: absolute;
  right: 0px;
  width: 40vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;

  z-index: 1;
}

#sign-inContainer {
  position: relative;
  border: 2px solid black;

  background-color: white;
  z-index: 200;
}

#create-room {
  display: none;
}

#userName-box {
  text-align: center;
  background-color: green;
  background-size: contain;
  width: 30vw;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

#userName-box label {
  position: relative;
  margin-bottom: 20px;
  font-size: var(--secondary-font);
}

#userName-box input {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: var(--secondary-font);
}

#index-submit {
  font-size: 22px;
  transition: 0.2s;
}

#index-submit:hover {
  color: black;
  background-color: var(--text-color);
}

/* Logo */

.blurb {
  width: 35vw;
  position: relative;

  bottom: 10px;
}

#blurb-text {
  color: white;
  font-family: "Special Elite", cursive !important;
  font-size: 4vh;
  width: 50vw;
}

#logo-container {
  width: 100%;
  position: relative;
  text-align: center;
  height: 50%;
}

#logo-alone {
  width: 90%;
}

/* Username Form */

/* Button */
#startBtn-container {
}

.startBtn {
  background-color: #000000f5;
  border: 3px solid white !important;
  color: white;
  height: 60px;
  width: 100%;
  /* bottom: -95px; */
  border-radius: 3px;

  font-family: "Montserrat", sans-serif !important;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.startBtn:hover {
  color: black !important;
  background-color: white;
  border: 1px solid black;
}

/* Mode Selection Component */
#mode-container {
  background-color: var(--background-black);
  height: 100vh;
  text-align: center;
}

#mode-container h1 {
  font-size: 64px;
}

#options-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;

  color: white;
}

#mode-title {
  font-size: 44px;
  position: relative;

  color: var(--text-color);
}

.option {
  border: 1px solid white;
  color: var(--text-color);
  padding: 10px;
  display: flex;
  height: 50vh;
  max-width: 600px;
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mode-solo-btn {
  background-color: rgba(255, 65, 106, 0.849);
  height: 38px;
  width: 85px;
  border: none;
  font-size: 14px;

  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}
#mode-solo-btn:hover {
  background-color: rgba(255, 65, 65, 0.849);
  transform: scale(1.2);
  color: white;
  border: 1px solid black;
}

.mode-heading {
  text-decoration: underline;
}

#mode-group-btn {
  background-color: rgba(65, 179, 255, 0.849);
  height: 38px;
  width: 85px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}
#mode-group-btn:hover {
  background-color: rgba(65, 109, 255, 0.849);
  transform: scale(1.2);
  color: white;
  border: 1px solid black;
}

#mode-container {
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

#mode-logo {
  width: 100px;
  position: inherit;
}

/* Create Room Form */

#create-room {
  /* margin: auto; */
  display: none;
  position: relative;
  padding: 13px;
  top: 19px;
  background-color: #e5e5e5;
  border-radius: 2px;
  margin: auto;
  text-align: center;
  width: 95vw;
}

#create-final-btn {
  background-color: #101a19cf !important;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  width: 110px !important;
  margin-bottom: 10px;
  top: 2px;
  left: 5px;
  cursor: pointer;
  position: relative;
}
#create-final-btn:hover {
  background-color: white !important;
  color: black;
}

/* Query */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #mode-logo-container {
    display: none;
  }

  .option {
    height: 530px;
  }
}

#main-container {
  background-image: url(/src/logos/vecteezy_background-vector-abstract-background-curved-line-circle_6085360.jpg);
  /*  background-color: var(--background-black); */
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;
  flex-direction: column;
}

#main-option-container {
  position: relative;
  bottom: 25px;
}

.title {
  font-size: 5vw;

  width: fit-content;

  color: var(--text-color);
  border: 4px solid var(--text-color);
  background-color: var(--background-black);
  padding: 38px;
}

.main-option {
  color: var(--text-color);

  font-size: 16px;
  text-align: left;

  list-style-position: inside;
  padding: 10px;
  /*  -moz-box-shadow: 13px 13px 0px 0px #ffffff;
  -webkit-box-shadow: 13px 13px 0px 0px #ffffff; */
}

#main-container input {
  height: 5vh;
  width: 36vw;
  font-size: 1.8vw;

  text-align: center;
}

.username-option {
  font-size: 1.8vw;
  width: 36vw;
  position: relative;
  text-align: center;
  color: var(--text-color);
  border: 4px solid var(--text-color);
  background-color: var(--background-black);
  padding: 18px;
}

#username-container {
  bottom: 40px;
  flex-direction: column;
  position: relative;
  display: flex;
}

#main-container button {
  height: 5vh;
  cursor: pointer;
  background-color: var(--background-black);
  color: var(--text-color);
  border: 1px solid var(--text-color);
}

#logo2 {
  position: absolute;

  top: 0;
  width: 12vw;
  margin-top: 5px;
}

#nav {
  position: absolute;
  right: 5px;
  top: 0;
  width: fit-content;
  display: flex;
  color: var(--text-color);
  justify-content: space-around;
}

#nav p {
  text-decoration: underline;
  margin-top: 5px;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#second-half {
  background-color: --text-;
  width: 30vw;
  height: 100vh;
}

#indexBody {
  display: flex;
}

/* Font Awesome Icon Styling */
.fontAwesome {
  font-size: 20px;
  position: absolute;
  left: -20px;
}

/* Test Index Page */

#main1 {
  height: 100vh;
  display: flex;
  align-items: center;

  justify-content: center;
}

#title-h1 {
  font-size: 30px;
  color: white;
  /*  position: absolute; */
  top: -100px;
  font-size: 6vw;
  position: relative;

  text-decoration: underline;
}

.css-ag7rrr-MuiTypography-root {
  font-size: 2rem !important;
}

#title-ul {
  width: 80%;
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

#title-ul ul {
  padding: 10px;
  background-color: #e5e5e5;
  color: #141414;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#title-ul h1 {
  background-color: #e5e5e5;
  font-size: 3vw;
  color: #141414;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  position: relative;
  bottom: 30px;
}

#main1 img {
  position: absolute;
  left: 0;
  top: 20px;
  width: 15%;
}

.css-41x0kj-MuiPaper-root-MuiGrid-root {
  -webkit-flex-basis: 41.666667%;
  -ms-flex-preferred-size: 41.666667%;
  flex-basis: 41.666667%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  justify-content: center !important;
  background-color: #fff !important;
  align-items: center !important;
  display: flex !important;
  flex-grow: 0;
  max-width: 41.666667%;
}

.css-1uk99p4 {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  box-sizing: border-box;
  margin: 0px;
  flex-direction: row;
  flex-basis: 100%;

  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}

/* Turn height off for query */
@media only screen and (max-width: 890px) {
  #main1 {
    height: 100%;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  #title-ul {
    margin-top: 60px;
  }

  #title-ul h1 {
    font-size: 4vw;
  }

  #main1 {
    flex-direction: column;
  }

  #main1 img {
    width: 25%;
  }

  #main-container input {
    height: 5vh;
    width: 25vw;
    font-size: 18px;
    text-align: center;
  }

  #mode-container h1 {
    font-size: 36px;
  }

  #options-container p {
    font-size: 12px;
  }

  .option {
    width: fit-content;
    padding: 2px;
  }
}

@media only screen and (max-width: 600px) {
  #title-ul h1 {
    display: none;
  }
}
