@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
/* Index Page */

/* Table */

:root {
  --main-font: "IBM Plex Mono", monospace !important;
  --test-font: "Special Elite", cursive;
  --background-black: #141414;
  --text-color: #e5e5e5;
}

#MainDiv {
  display: flex;
  justify-content: space-around;
}

#table2 {
  background-color: transparent;
  padding: 5px;

  margin-top: 30px;
  height: 70vh;
  color: #e5e5e5;
  font-style: var(--main-font);

  border-collapse: unset;
}

#thead-col {
  display: flex;
  height: 50px;
  /* text-align: center; */
  justify-content: space-evenly;
}

#buttons {
  display: flex;
}

#tbody1 {
  margin: auto;
  display: flex;
  width: 100%;
  top: 15px;
  position: relative;
  flex-direction: column;
}

.listItems {
  border-bottom: 1.5px solid rgb(65 65 65);
  text-align: center;
  position: relative;
  /* left: 10px; */
  align-items: center;
  height: 3vh;
  bottom: 7px;
  width: 48vw;
  display: flex;
  justify-content: space-around;
}

.crossed-word {
  border-bottom: 1px solid rgba(19, 18, 18, 0.226);
  align-items: center;
  width: 48vw;
  background-color: yellow;
  color: #141414;
  border-radius: 5px;

  position: relative;
  height: 3vh;
  display: flex;
  left: 10px;
  text-align: center;
  bottom: 7px;
  justify-content: space-around;
  display: flex;
}
.btn {
  height: 50px;
}

#input_and_button_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  bottom: 200px;
  position: absolute;

  bottom: 80px;
}
#buttons {
  width: 50vw;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

#pasted-words {
  padding: 5px;
  width: 51vw;
  min-height: 5vh;
  height: fit-content;
  height: fit-content;
  background-color: white;
  white-space: pre-wrap;
}

#word-title {
  font-weight: bolder;
  display: block;
}

#essay {
  font-size: 14px;

  padding: 10px;
  width: 51vw;
  height: 30vh;
  outline: none;
  border-radius: 5px;
}

#table-container {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

#table-row-cols {
  /* left: 10px; */
  width: 55vw;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

/* .col-title:nth-of-type(1) {
  position: relative;
  left: 20px !important;
} */

.dynamic-items {
  display: flex;
}

.item0 {
  width: 100px;
}
.item1 {
  width: 100px;
}
.item2 {
  width: 100px;
}
.item3 {
  width: 100px;
}

#word-count-box {
  position: relative;
  border: 1px solid #e5e5e5;
  padding: 10px;

  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;

  margin-top: 16px;
  margin-bottom: 5px;

  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.word-table-btns {
  background-color: #000000f5;
  border: 3px solid white !important;
  color: white;
  height: 40px;
  position: relative;
  top: 10px;

  /* bottom: -95px; */
  border-radius: 3px;
  width: fit-content;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
}
.word-table-btns:hover {
  transform: scale(1.1);
  color: black !important;
  background-color: white;
  border: 1px solid black;
}
.word-table-btns:nth-child(3) {
  width: 20vw;
  display: block;
}

#instruction-game {
  background-color: #e5e5e5;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  border: 2px solid grey;
  width: 50vw;
  height: 30vh;
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  margin-top: 30px;
  justify-content: center;
}

/* Queries */

@media only screen and (max-width: 1000px) {
  #instruction-game {
    font-size: 12px;
  }
}

.instruction {
  grid-area: instruction;
}
.yourPoem {
  grid-area: yourPoem;
}
.poem1 {
  grid-area: poem1;
}
.poem2 {
  grid-area: poem2;
}
.poem3 {
  grid-area: poem3;
}
.poem4 {
  grid-area: poem4;
}

.col-title:nth-of-type(1) {
  position: relative;
  left: unset;
}

.listItemLiveRoom {
  background-color: white;
  text-decoration: none;
  list-style-type: none;
  width: 50vw;
  margin: auto;
  margin-top: 40px;
  position: relative;
  padding: 10px;
  border-radius: 3px;
  border: 3px solid grey;
}

/* .listItemLiveRoom:nth-child(2) {
  color: red;
  width: 20vw !important;
  height: 40vh;
  top: 30px;
}

.listItemLiveRoom:nth-child(3) {
  position: absolute;
  width: 20vw;
  top: 1%;
  left: 10px;
  font-size: 1vw;
  height: 10vw;
}

.listItemLiveRoom:nth-child(4) {
  position: absolute !important;
  width: 33vw !important;
  top: 25%;
  font-size: 1vw;
  left: 10px !important;
}

.listItemLiveRoom:nth-child(5) {
  position: absolute;
  right: 10px;
  top: 0px;
  width: 20vw;
}

.listItemLiveRoom:nth-child(6) {
  position: absolute;
  right: 10px;
  top: 250px;
  width: 18vw;
}

.listItemLiveRoom:nth-child(7) {
  position: relative;
  right: 320px;
  height: fit-content;
  top: 290px;
  width: 15vw;
}
 */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 15px;
  grid-template-areas:
    ". poem1 poem1 . . . . . ."
    ". poem1 poem1 instruction instruction instruction instruction instruction ."
    "poem2 poem2 poem2 poem2 your-poem your-poem your-poem . ."
    "poem2 poem2 poem2 poem2 your-poem your-poem your-poem . ."
    ". . . . your-poem your-poem your-poem . ."
    "poem6 poem6 poem6 poem6 . . . . ."
    "poem6 poem6 poem6 poem6 . . . . ."
    ". . . . . . . . ."
    ". . . . . . . . .";
  width: 600px;
  height: 611px;
}
.instruction {
  grid-area: instruction;
}
.your-poem {
  grid-area: your-poem;
}
.poem1 {
  grid-area: poem1;
}
.poem2 {
  grid-area: poem2;
}
.poem6 {
  grid-area: poem6;
}
