@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@600&family=Special+Elite&display=swap");
/* Index Page */

:root {
  --main-font: "IBM Plex Mono", monospace !important;
  --test-font: "Special Elite", cursive;
}

.App {
  background-color: white;
}

* {
  --secondary-font: 24px;
  font-family: "IBM Plex Mono", monospace !important;
}

body {
}

#blurbBox {
  width: 60vw;
  background-color: black;
  height: 100vh;
  text-align: center;
}

#blurbContainer {
  height: 100vh;
  z-index: 100;
  position: relative;
  justify-content: center;
  display: flex;
  font-family: var(--test-font);
  align-items: center;
}

/* Logo Container */
#logoContainer {
  position: absolute;
  left: 0;
  width: 200px;
}

/* Sign In Container */
#overlay {
  position: fixed !important;
  right: 0px;
  width: 400px;
  background-color: rgb(15, 15, 15);
  z-index: 100;
}

#right-half {
  position: absolute;
  right: 0px;
  width: 40vw;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("./logos/green3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;

  z-index: 1;
}

#sign-inContainer {
  position: relative;
  border: 2px solid black;

  background-color: white;
  z-index: 200;
}

#create-room {
  display: none;
}

#userName-box {
  text-align: center;
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#userName-box label {
  position: relative;
  margin-bottom: 20px;
  font-size: var(--secondary-font);
}

#userName-box input {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  font-size: var(--secondary-font);
}

/* Logo */

.blurb {
  width: 35vw;
  position: relative;

  bottom: 10px;
}

#blurb-text {
  color: white;
  font-family: "Special Elite", cursive !important;
  font-size: 4vh;
  width: 50vw;
}

#logo-container {
  width: 100%;
  position: relative;
  text-align: center;
  height: 50%;
}

#logo-alone {
  width: 90%;
}

/* Username Form */

/* Button */
#startBtn-container {
}

.startBtn {
  background-color: #000000f5;
  border: 3px solid white !important;
  color: white;
  height: 60px;
  width: 100%;
  /* bottom: -95px; */
  border-radius: 3px;

  font-family: "Montserrat", sans-serif !important;
  font-size: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.startBtn:hover {
  color: black !important;
  background-color: white;
  border: 1px solid black;
}

/* Mode Selection Component */
#mode-container {
  background-color: black;
  height: 100vh;
  text-align: center;
}

#mode-container h1 {
  font-size: 64px;
}

#options-container {
  display: flex;
  justify-content: space-evenly;
  position: relative;

  color: white;
}

#mode-title {
  font-size: 44px;
  position: relative;

  color: white;
}

.option {
  border: 1px solid white;
  color: white;
  padding: 10px;
  display: flex;
  height: 50vh;
  max-width: 600px;
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mode-solo-btn {
  background-color: rgba(255, 65, 106, 0.849);
  height: 38px;
  width: 85px;
  border: none;
  font-size: 14px;

  cursor: pointer;
  outline: none;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}
#mode-solo-btn:hover {
  background-color: rgba(255, 65, 65, 0.849);
  transform: scale(1.2);
  color: white;
  border: 1px solid black;
}

.mode-heading {
  text-decoration: underline;
}

#mode-group-btn {
  background-color: rgba(65, 179, 255, 0.849);
  height: 38px;
  width: 85px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  border-radius: 5px;
  color: black;
  transition: 0.2s;
}
#mode-group-btn:hover {
  background-color: rgba(65, 109, 255, 0.849);
  transform: scale(1.2);
  color: white;
  border: 1px solid black;
}

#mode-container {
  background-color: black;
  height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
}

#mode-logo {
  width: 100px;
  position: inherit;
}

#create-room {
  /* margin: auto; */
  display: none;
  position: relative;
  padding: 13px;
  top: 19px;
  background-color: white;
  border-radius: 2px;
  margin: auto;
  text-align: center;
  width: 95vw;
}

#create-final-btn {
  background-color: #101a19cf !important;
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  width: 110px !important;
  margin-bottom: 10px;
  top: 2px;
  left: 5px;
  cursor: pointer;
  position: relative;
}
#create-final-btn:hover {
  background-color: white !important;
  color: black;
}

/* Query */

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  #mode-logo-container {
    display: none;
  }

  .option {
    height: 530px;
  }
}
