@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=KoHo:wght@200&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Lato&family=Montserrat&family=Sedgwick+Ave&family=Shadows+Into+Light+Two&display=swap");

#roomNav {
  background-color: white;
  color: black;
  border-radius: 5px;
  font-family: "Bebas Neue", cursive !important;

  z-index: 10 !important;
  font-size: 20px;
  width: 97vw;
  justify-content: space-between;
  margin: auto;
  display: flex !important;
}

.switch {
  position: relative;
}
.switch label {
  font-size: 15px;
  color: white;
  z-index: 2;
}

.solo {
  color: #000000;
}

.lever {
  background-color: #000000 !important;
}

.collaborative {
  color: #399e3c9a !important;
}

#nav-links {
  top: 0px;
  font-size: 24px;
  left: 60%;
  cursor: pointer;
  display: flex;
}

.nav-link {
  margin-right: 15px;
}
