#MainDiv {
  display: flex;
  position: relative;
}

#table2 {
  background-color: white;
  padding: 5px;
  width: 40vw;
  border-radius: 10px;
  position: absolute;
  left: 40px;
}

#thead-col {
  display: flex;
  height: 50px;
  /* text-align: center; */
  justify-content: space-evenly;
}

#buttons {
  display: flex;
}

.listItems {
  color: green;
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 7px;
  display: flex;
  justify-content: space-around;
}
.crossed-words {
  color: red;
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 7px;
  display: flex;
  justify-content: space-around;
}
.btn {
  height: 50px;
}

#input_and_button_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50vw;
  height: 40vh;
  background-color: pink;
  position: absolute;
  right: 30px;
}

#buttons {
  width: 50vw;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

#essay {
  height: 300px;
}

.col-title {
  padding: 5px;
}

#table-container {
  max-width: 300px;
}

#table-row-cols {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* display: none !important; */
}

.dynamic-items {
  display: flex;
}

.item0 {
  width: 100px;
}
.item1 {
  width: 100px;
}
.item2 {
  width: 100px;
}
.item3 {
  width: 100px;
}

#word-count-box {
  /* position: absolute; */
  height: 20px;
  position: relative;
  bottom: 12px;
  text-align: center;
}
