#MainDiv {
  display: flex;
  position: relative;
}

#table2 {
  background-color: white;
  padding: 5px;
  width: 40vw;
  border-radius: 5px;
  z-index: 100;
  border-collapse: unset;
  position: absolute;

  box-shadow: 1px 1px 0px #999, 2px 2px 0px #999, 3px 3px 0px #999,
    4px 4px 0px #999, 5px 5px 0px #999, 6px 6px 0px #999 !important;
  left: 40px;
  font-family: "Montserrat", sans-serif !important;
}

#thead-col {
  display: flex;
  height: 50px;
  /* text-align: center; */
  justify-content: space-evenly;
}

#buttons {
  display: flex;
}

.listItems {
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 7px;
  width: 36vw;
  display: flex;
  justify-content: space-around;
}
.crossed-word {
  text-decoration: line-through;
  width: 36vw;
  position: relative;
  text-align: center;
  bottom: 7px;
  justify-content: space-around;
  display: flex;
}
.btn {
  height: 50px;
}

#input_and_button_container {
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50vw;
  height: 40vh;

  position: absolute;
  right: 30px;
}

#buttons {
  width: 50vw;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}

#essay {
  font-family: "Montserrat", sans-serif !important;
  font-size: 14px;
  height: 300px;
  padding: 10px;
  border: 2px solid grey;
  outline: none;
  border-radius: 5px;
}

.col-title {
  padding: 1px;
  position: relative;
  left: 10px;
  width: 76px;
}

#table-container {
  max-width: 300px;
}

#table-row-cols {
  width: 30vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  /* display: none !important; */
}

.dynamic-items {
  display: flex;
}

.item0 {
  width: 100px;
}
.item1 {
  width: 100px;
}
.item2 {
  width: 100px;
}
.item3 {
  width: 100px;
}

#word-count-box {
  /* position: absolute; */
  height: 20px;
  position: relative;
  border: 1px solid black;
  width: 156px;
  bottom: 14px;
  border-radius: 5px;
  /* margin-bottom: 10px; */
  /* padding-bottom: 10px; */
  margin: auto;
  text-align: center;
}

.word-table-btns {
  background-color: #000000f5;
  border: 3px solid white !important;
  color: white;
  height: 40px;
  position: relative;
  top: 10px;

  /* bottom: -95px; */
  border-radius: 3px;
  width: fit-content;
  font-family: "Montserrat", sans-serif !important;
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 15px;
}
.word-table-btns:hover {
  transform: scale(1.1);
  color: black !important;
  background-color: white;
  border: 1px solid black;
}
.word-table-btns:nth-child(3) {
  width: 20vw;
  display: block;
}
